/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/

body{

  font-family: Arial, Helvetica, sans-serif;
  margin : 0;
  padding: 0;
  

}
/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/clientComponents/styles.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.navbar {
  background-color: rgba(27, 24, 24, 0.856);
  display: flex;
  color: aliceblue;
  align-items: center;
  padding-left: 50px;
  min-height: 8vh;

  > .logo {
    font-size: 36px;
  }
  > ul {
    display: flex;
    list-style-type: none;
    padding-left: 100px;
    > li {
      margin-right: 20px;
      > a {
        color: aliceblue;
        text-decoration: none;
        &:hover {
          color: blue;
        }
      }
    }
  }
}

